# Environment variables
.env
.env.*

# Python byte-compiled files
__pycache__/

# Large model binaries
*.pkl

# Dependencies and Build Output
node_modules/
dist/
/frontend/dist/

# Generated voice files
static/*.mp3
/VOX-main/static/*.mp3
/frontend/static/*.mp3
